body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.game-container {
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.player-names {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gameboards {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gameboard-container {
  width: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
}

.grid-square {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hit {
  background-color: green;
}

.miss {
  background-color: gray;
}

.ship {
  background-color: blue;
}

.hit-ship {
  background-color: red;
  box-shadow: inset 0 0 0 5px blue;
}

.entered {
  background-color: purple;
}

.invalid-ship-placement-message {
  border: solid red 5px;
  border-radius: 10px;
  padding: 10px;
}

.finish-placing-all-ships-message {
  border: solid red 5px;
  border-radius: 10px;
  padding: 10px;
}
